*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bai Jamjuree;
}

.section1{
    height: 100vh;
    width: 100%;
    background-color: white;
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    
}
.section1-div{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 25%;

}
.section1-div img{
    width: 100px;
}
.section1-div p{
    max-width: 500px;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
}
.section1-div p, .sec-cont-div p, .third-cont-div p{
    max-width: 500px;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;

}
.button{
    margin-top: 30px;
}
.button a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding-inline: 40px;
    padding-block: 10px;
    border-radius: 50px;
    margin-right: 20px;
}
.button a:first-child{
    background-color: hsl(171, 66%, 44%)

}
.button a:last-child{
    background-color: hsl(233, 100%, 69%);
}

.sec-cont-div, .third-cont-div{
    width: 100%;
    text-align: center;
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.sec-cont-div p, .third-cont-div p{
    margin-top: 10px;

}
.sec-div {
    display: flex;
    align-items: center;
    gap: 130px;
}
.sec-div img{
    margin-left: -300px;
}
.sec-div-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 60px;
    text-align: left;
    margin-top: -100px;
}
.sec-div-content p{
    max-width: 300px;
}
.div2 img{ 
    width: 750px;
}
.div4{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: 40px;
    margin-top: 50px;
}
.div4 p{
    max-width: 320px;
}
.div5{
    display: flex;
    gap: 70px;
    margin: 60px 0px;
}
.div6 p{
    margin-top: 20px;
    margin-bottom: 60px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    background-color: rgb(238, 238, 238);
    margin-top: 200px;
    padding-block: 40px;

}
.footer-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.footer-container img{
    width: 50px;
}

.footer-text{
    display: grid;
    grid-template-columns: 1rf 1rf 1fr;
    gap: 20px;
}
.footer-icon{
    display: flex;
    gap: 20px;
}
.footer-icon img{
    width: 20px;
}

@media (max-width: 800px){

    .sec-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 130px;
        
    }
    .section-div img{
        margin-left: 0px;
        width: 670px;
    }
    .section-div-content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-content: center;
        max-width: 690px;
    }
    .div5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin: 40px 0px;
    }

    .div4{
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: start;
        margin-top: 50px;
        max-width: 720px;
    }


    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(238, 238, 238);
        margin-top: 200px;
        padding-block: 40px;
    }
    .footer-container{
        display: flex;
        align-items: center;
        gap: 70px;
    }
    .footer-container img{
        width: 50px;
    }
    .footer-text{
        display: grid;
        grid-template-columns: 1rf 1rf  1fr;
        gap: 16px 20px;
    }
    .footer-icon{
        display: flex;
        gap: 20px;
    }
    .footer-icon img{
        width: 20px;
    }


}

/*mobile phone size view-----------------------------------------------------*/
@media (max-width: 470px){
    .section1{
        width: 100%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        background-image: url('images/bg-header-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section1-div img{
        margin-top: -60px;
        margin-top: 30px;
    }
    .section1-div img{
        width: 100px;
    }
    .section1-div p, .sec-cont-div p, .third-cont-div p{
        max-width: 250px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }
    .button{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .button a{
        text-decoration: none;
        color: white;
        padding-inline: 40px;
        padding-block: 10px;
        background-color: black;
        border-radius: 50px;
    }

    h1{
        font-size: 25px;
        max-width: 260px;
    }
    .button a:last-child{
        background-color: hsl(233, 100%, 69%);
    }
    .section1-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .section1-div h2{
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
        max-width: 250px;
    }
    .section1-div p{
       text-align: center;
    
    }
    .sec-cont-div p, .third-cont-div p{
        margin-top: 10px;
    }
    .sec-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 130px;
    }
    .sec-div img{
        margin-left: 0px;
        width: 230px;
    }
    .section-div-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 40px;
        text-align: center;
        margin-top: -100px;
    }
    .section-div-content p{
        max-width: 270px;
        font-size: 14px;

    }
    .third-cont-div .div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third-cont-div .div1 h2{
        font-size: 25px;
        text-align: center;
        max-width: 250px;
    }

    .third-cont-div .div1 p{
        font-size: 13px
    }
     .div2 img{ 
        width: 270px;
    
    }
    .div4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: 40px;
        margin-top: 50px;
    }
    .div4 p{
        max-width: 250px;
        font-size: 13px;
    
    }
    .div5{
        display: flex;
        flex-direction: column;
        gap:50px;
        margin: 40px 0px;
    }
    
    .div6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div6 h2{
        font-size: 25px;
        text-align: center;
        max-width: 250px;
    }
    .div6 p{
        margin-top: 20px;
        margin-bottom:30px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-inline: 100px;
        background-color: rgb(238, 238, 238);
        margin-top: 200px;
        padding-block: 40px;
        gap: 60px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    
    }
    .footer-container img{
        width: 50px;
    }
    .footer-text{
        display: flex;
        grid-template-columns: 1fr;
        gap: 20px 50px;
        text-align: center;
    }
    .footer-icon{
        display: flex;
        gap: 20px;
    }
    .footer-icon img{
        width: 20px;
    }

}







